.bg-secondary {
    background: #2c3e50 !important;
}

.copyright {
    background: #1a252f !important;
}

.bg-primary {
    background: #1abc9c !important;
}

nav {
    font-weight: 700;
}
.img-card {
    height: 18vh;
    object-fit: cover;
}